body {
  background-image:url("3dgifmaker05728.gif");
  background-attachment:fixed;
}

h1 {
  font-family:verdana;
  text-align:center;
  color:red;
}

h2 {
  font-family:verdana;
  text-align:center;
  color:blue;
}

b {
  font-family:verdana;
  text-align:center;
  color:black;
  font-size:64px;
}

p {
  font-family:verdana;
  text-align:center;
  color:green;
}

li {
  font-family:verdana;
  text-align:center;
  color:powder-blue;
}

i {
  font-family:verdana;
  text-align:center;
  color:tomato-red;
}
