body {
  background-image:url("3dgifmaker05728.gif");
  background-attachment:fixed;
}

h1 {
  font-family:verdana;
  text-align:center;
  color:red;
}

p {
  font-family:verdana;
  text-align:center;
  color:green;
}
