body {
  background-image:url("3dgifmaker05728.gif");
  background-attachment:fixed;
  cursor:url('cursor-default.png'), default;
  cursor:url('cursor-pointer.png'), pointer;
}

h1 {
  font-family:verdana;
  text-align:center;
  color:red;
}

h2 {
  font-family:verdana;
  text-align:center;
  color:blue;
}

b {
  font-family:verdana;
  text-align:center;
  color:black;
  font-size:64px;
}

p {
  font-family:verdana;
  text-align:center;
  color:green;
}

i {
  font-family:verdana;
  text-align:center;
  color:lime;
  font-style:italic;
}
